# 忽略所有对象文件
*.o

# 忽略所有可执行文件
*.exe
*.out
*.app


# 忽略所有不含后缀的文件
* 
!*/ 
!*.*
!Makefile

# 忽略编译生成的文件
*.a
*.so
*.dylib
*.dll
*.lai
*.la
*.lib

# 忽略临时文件
*~
*.swp
*.bak
*.tmp

# 忽略日志文件
*.log

# 忽略CMake生成的文件和目录
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
install_manifest.txt
Testing/

# 忽略IDE和编辑器生成的文件
.idea/
.vscode/
*.iws

# 忽略其他不需要的文件和目录
.DS_Store
Thumbs.db
CMakeLists.txt